<div class="border p-4">
  <h2>Doctor Registration</h2>
  <br/><br/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row mb-3">
      <%= f.label :email, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :name, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3" style="display: none;">
      <%= f.label :role, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :role, value: 'doctor', class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :phone_number, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :phone_number, class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :specialization, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :specialization, class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :medical_license_number, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :medical_license_number, class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :hospital_affiliation, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.text_field :hospital_affiliation, class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :password, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <%= f.label :password_confirmation, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control short-input' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6 offset-sm-2">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
