
<div class="form-border">
  <h2 class="heading">New Appointment</h2>
  <%= form_for @appointment, html: { class: "form" } do |f| %>
    <div class="row mb-3">
      <div class="col">
        <%= f.label :appointment_date, class: "form-label" %>
        <%= f.date_field :appointment_date, class: "form-control", placeholder: "Appointment Date" %>
      </div>
      <div class="col">
        <%= f.label :appointment_time, class: "form-label" %>
        <%= f.time_field :appointment_time, class: "form-control", placeholder: "Appointment Time" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.label :appointment_type, class: "form-label" %>
        <%= f.select :appointment_type, ['Routine Check-up', 'Follow-up', 'Consultation', 'Emergency'], { prompt: "Select Appointment Type" }, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.label :symptoms, class: "form-label" %>
        <%= f.text_area :symptoms, class: "form-control", placeholder: "Symptoms" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= f.label :doctor_id, class: "form-label" %>
        <%= f.collection_select :doctor_id, Doctor.all_doc, :id, :name, { prompt: "Select Doctor" }, { class: "form-control" } %>
      </div>
    </div>

    <%= f.fields_for :patient do |p| %>
      <div class="row mb-3">
        <div class="col">
          <%= p.label :patient_name, class: "form-label" %>
          <%= p.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
        <div class="col">
          <%= p.label :date_of_birth, class: "form-label" %>
          <%= p.date_field :dob, class: "form-control", placeholder: "Date of Birth" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= p.label :gender, class: "form-label" %>
          <%= p.text_field :gender, class: "form-control", placeholder: "Gender" %>
        </div>
        <div class="col">
          <%= p.label :medical_conditions, class: "form-label" %>
          <%= p.text_area :medical_conditions, class: "form-control", placeholder: "Medical Conditions" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <%= p.label :mobile_number, class: "form-label" %>
          <%= p.text_field :mobile_number, class: "form-control", placeholder: "Mobile Number" %>
        </div>
        <div class="col">
          <%= p.label :address, class: "form-label" %>
          <%= p.text_field :address, class: "form-control", placeholder: "Address" %>
        </div>
      </div>
    <% end %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

<style>
  .form-border {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .btn {
    margin-top: 2%;
  }

  .mb-3 {
    margin-bottom: 1rem; /* Adjust this value to control the vertical gap */
  }

  .heading{
    margin-bottom: 10px;
  }
</style>
